
h1{
    font-family: 'Bungee Spice', cursive;
    align-items: center;   
    color: darkgoldenrod; 
    text-align: center;
}
.div{
    width: 300px;
    margin: auto;
}
h2{
    font-family: 'Bungee Spice', cursive;
    align-items: center;   
    color: darkgoldenrod; 
}

p{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
a{
    text-decoration: none;
    color: darkolivegreen;
    margin-left: 10px;
}
a:hover{
    color: black;
}
#hakk{
    text-align:left;
    font-family: 'Trebuchet MS', sans-serif;
}
.foto{
    width: 300px;
    margin: auto;
    font-family: 'Trebuchet MS', sans-serif;
    margin-top: 100px;

}
img{
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
}
